# python basic part 2

# Break Statement

break ---> stop

In [1]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [2]:
data = ['a','b','c','d','e']
for i in data:
    if i == 'd':
        break
    print(i)

a
b
c

# Continue Statement

continune ---> skip

In [3]:
data = ['a','b','c','d','e']
for i in data:
    if i == 'd': #except 'd' it will print everything. 
        continue
    print(i)

a
b
c
e

In [4]:
for i in range(10):
    if i%2 == 0:
        continue
    print(i)

1
3
5
7
9

# Data structure in Python
# -string
# -list
# -tuple
# -set
# -distionary

list --> is a muteable(changeable),ordered(indexed available) collection of element.
it allows duplicate values. mostly used in ML compaire to others

In [5]:
subj = ['ai','ds','ml','dl','ds']
print(subj)

['ai', 'ds', 'ml', 'dl', 'ds']

In [6]:
type(subj)

list

In [7]:
subj[0], subj[-1]

('ai', 'ds')

In [8]:
subj[1:4] #indexing is always n = n-1 4-1=3

['ds', 'ml', 'dl']

In [9]:
x = ['ai','ds','ml','dl','ds',1,2,3,[1,2,3],{1,2,3},True,False]
x[4:]

['ds', 1, 2, 3, [1, 2, 3], {1, 2, 3}, True, False]

In [10]:
x[:4]

['ai', 'ds', 'ml', 'dl']

In [11]:
x[8],x[8][2]

([1, 2, 3], 3)

In [12]:
import sys 
sys.getsizeof(x) #152 biyte

152

In [13]:
import sys 
sys.getsizeof(tuple(x))

136

# List method()

In [14]:
x

['ai', 'ds', 'ml', 'dl', 'ds', 1, 2, 3, [1, 2, 3], {1, 2, 3}, True, False]

In [15]:
x

['ai', 'ds', 'ml', 'dl', 'ds', 1, 2, 3, [1, 2, 3], {1, 2, 3}, True, False]

In [16]:
dept = ['ai', 'ds', 'ml', 'dl', 'ds', 1, 2, 3, [1, 2, 3], {1, 2, 3}, True, False]

In [17]:
dept.append('10')
#add element in list
dept

['ai',
 'ds',
 'ml',
 'dl',
 'ds',
 1,
 2,
 3,
 [1, 2, 3],
 {1, 2, 3},
 True,
 False,
 '10']

In [18]:
dept.append('Math')

In [19]:
dept

['ai',
 'ds',
 'ml',
 'dl',
 'ds',
 1,
 2,
 3,
 [1, 2, 3],
 {1, 2, 3},
 True,
 False,
 '10',
 'Math']

In [20]:
 dept2 =['ai', 'ds', 'ml', 'dl', 'ds', 1, 2, 3, [1, 2, 3], {1, 2, 3}, True, False]

In [21]:
dept2.append('CS')
dept2

['ai',
 'ds',
 'ml',
 'dl',
 'ds',
 1,
 2,
 3,
 [1, 2, 3],
 {1, 2, 3},
 True,
 False,
 'CS']

In [22]:
dept2.insert(0,'EEE') #shift+enter --> in () and you can see the function

In [23]:
dept2

['EEE',
 'ai',
 'ds',
 'ml',
 'dl',
 'ds',
 1,
 2,
 3,
 [1, 2, 3],
 {1, 2, 3},
 True,
 False,
 'CS']

In [24]:
dept2.remove('EEE')

In [25]:
dept2

['ai',
 'ds',
 'ml',
 'dl',
 'ds',
 1,
 2,
 3,
 [1, 2, 3],
 {1, 2, 3},
 True,
 False,
 'CS']

In [26]:
dept2.pop(8)
dept2

['ai', 'ds', 'ml', 'dl', 'ds', 1, 2, 3, {1, 2, 3}, True, False, 'CS']

In [27]:
del dept2[8]
# del (delete) are also available in other data type. so using del is better

In [28]:
dept2

['ai', 'ds', 'ml', 'dl', 'ds', 1, 2, 3, True, False, 'CS']

In [29]:
x2 = ['ai', 'ds', 'ml', 'ds', [1, 2, 3], {1, 2, 3}, True,'CS']
del x2[4][-1]
x2

['ai', 'ds', 'ml', 'ds', [1, 2], {1, 2, 3}, True, 'CS']

In [30]:
x2.reverse()

In [31]:
x2

['CS', True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai']

In [32]:
x2.append('ai')
x2

['CS', True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai', 'ai']

In [33]:
x2.count('ai')

2

In [34]:
x2.count('CS')

1

In [35]:
x2[0] =12
x2

[12, True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai', 'ai']

In [36]:
num = [5,2,5,8,3,9,5]
num.sort()
#rearrange the numbers

In [37]:
num

[2, 3, 5, 5, 5, 8, 9]

In [38]:
#try other methods of list

# Tuple in python

tuple --> immuteable and ordered (indexed)

In [39]:
x3 = ['CS', True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai', 'ai']
x3 = tuple(x3)
type(x3)

tuple

In [40]:
x3

('CS', True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai', 'ai')

In [41]:
x4= ('CS', True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai', 'ai')
type(x4)

tuple

In [42]:
x5 = list(x4)
# tuple is immuteable.that's why if we need to change to element,
# we can simply convert it in list and change it

type(x5)

list

In [43]:
x5

['CS', True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai', 'ai']

In [44]:
x5 =tuple(x5)
#Then again we can simply convert it in list and change it
x5

('CS', True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai', 'ai')

In [45]:
x3

('CS', True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai', 'ai')

In [46]:
x3[0] #it is ordered and indexed
# x3[0] = 10 
#tuple is immuteable. so no element can be added. that's why we get error

'CS'

In [47]:
x3.count('ai')

2

In [48]:
x3.index('ds')

4

In [49]:
x3.index('ai')

7

In [50]:
x3

('CS', True, {1, 2, 3}, [1, 2], 'ds', 'ml', 'ds', 'ai', 'ai')

# Slicing in tuple

In [51]:
x3[1:5:2] #start:stop:step stop=stop -1  here 1 = true and 2 step is [1,2] 
# then other 2 step is ml but our stop point is ds

(True, [1, 2])

In [52]:
x3[0:3]

('CS', True, {1, 2, 3})

In [53]:
x3[4:]

('ds', 'ml', 'ds', 'ai', 'ai')

In [54]:
x3[0:3] + x3[4:]

('CS', True, {1, 2, 3}, 'ds', 'ml', 'ds', 'ai', 'ai')

In [55]:
x6 = x3[0:3] + x3[4:]
x6

('CS', True, {1, 2, 3}, 'ds', 'ml', 'ds', 'ai', 'ai')

# Sets in python

Set ---> unordered but muteable

In [ ]:
s1 = {1,2,3}
s2 ={2,4,5}

In [ ]:
#s1[0] # error because it is unordered

In [ ]:
s1.add(0)

In [ ]:
s1

In [ ]:
s3 ={1,2,2,3,3} # don't allow duplicate value
s3

In [ ]:
s1.remove(3)
s1

In [ ]:
#s1.remove(3) #it will give ypu error because 3 don't exist now

In [ ]:
s1.discard(3)
# 3 doesn't exist but it don't gave 'error' like remove()
# using discard() is better

In [ ]:
s1.add(6)
s1

In [ ]:
s1.pop()

In [ ]:
s4 = {0, 1, 2}

In [ ]:
s4.pop()
s4

In [ ]:
s5 = {0, 1, 2, 6}

In [ ]:
#intersection
s4.intersection(s5)

In [ ]:
#union
s4.union(s5)

In [ ]:
#union
s4|s5

In [ ]:
s4|s5

In [ ]:
s6 = {0, 1, 2, 6}
s7 ={2, 3, 4, 6}
s6 & s7

In [ ]:
s6.difference(s7)

In [ ]:
s6.symmetric_difference(s7) 
# the elements that are not commom 
# in both sides

frozen set

In [ ]:
frozen_dept = frozenset(['ai','ds','ml'])
frozen_dept

In [ ]:
s8 = frozenset(s7)

In [ ]:
s8

In [ ]:
type(s8)

# Dictionaries in python

dictionaries ---> unordered collection of key-value pair
or dic() function

In [ ]:
#creating a dictionary using curly braces
person = {
    'name':'sakil',
    'age':20,
    'city':'Munic'
}
person

In [ ]:
type(person)

In [ ]:
#creating a dictionary using dict() function
personX = dict(name = "John", age = 36, country = "Norway")
personX

In [ ]:
person1 = {
    'name':'sakil',
    'age':20,
    'city':'Munic'
}
person1

In [ ]:
person1.values()

In [ ]:
person1.keys()

In [ ]:
person1.pop('city')
person1

In [ ]:
person2 = {'name': 'sakil', 'age': 20, 'city': 'Munic', 'hobbies':'football'}
person2

In [ ]:
del person2['age']

In [ ]:
person2

In [ ]:
person3 = {'name': 'sakil', 'age': 20, 'city': 'Munic', 'hobbies':'football'}
person3

In [ ]:
del person3['hobbies']

In [ ]:
person3

In [ ]:
person3['age']

In [ ]:
person3.get('age')

In [ ]:
person3['university']='FAU'
person3

In [ ]:
person3.update({'university':'MUST'})
person3

Importance of copy ***

In [ ]:
x_12 = [10,20,40]

In [ ]:
y1=x_12

In [ ]:
y1

In [ ]:
y1[0]=100
y1

In [ ]:
x_12
#here x_12 also changes but we don't want to change it.
#we only want to change the y1

In [ ]:
z = x_12.copy()
z

In [ ]:
z[0] = 45
z

In [ ]:
x_12
#here the value of x_12 is not changed

# Use Frozenset as Keys

In [ ]:
fs1 = frozenset([1,2,3])
fs2 = frozenset([4,5,6])

In [ ]:
frozen_set_dict ={
    fs1:'Group 1',
    fs2:'Group 2'
}
frozen_set_dict

In [ ]:
print(frozen_set_dict[fs1])
print(frozen_set_dict[fs2])

In [ ]:
List comprehension: Elegant way to Create Lists

-->way to create list in python by using loop

[expression for item in iterable if condition]

# [expression for item in iterable if condition]

In [ ]:
squares = [x**2 for x in range(10)]
squares

In [ ]:
squares1 = [x**2 for x in range(10) if x%2!=0]
squares1

In [ ]:
squares2 = [x**2 for x in range(10) if x%2==0]
squares2

# Tuple Comprehension

 Generator

--> a special type of iterable that allows to iterate over a sequence of value

In [ ]:
gen_exp = (x**2 for x in range(10))

In [ ]:
tuple_from_gen_exp = tuple(gen_exp)
print(tuple_from_gen_exp)

In [ ]:
li = [x**2 for x in range(10)]
li

memory comparison between list and tuple(generator)

In [ ]:
import sys
sys.getsizeof(li)

In [ ]:
sys.getsizeof(tuple_from_gen_exp)
# sometimes for memory effencienies , we use generator

# working with pandas

In [71]:
user = [
    ['sakil',25,'Munic'],
    ['ABC',24,'Berlin'],
    ['JKL',25,'Munic']
]
user

list

In [72]:
type(user)

list

In [60]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\dipda\anaconda3\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\dipda\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dipda\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\dipda\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\dipda\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\dipda\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [ ]:
!pip install pandas

In [61]:
import pandas as pd

In [62]:
user

{'name': 'sakil', 'age': 20, 'city': 'Munic', 'hobbies': 'football'}

In [73]:
d1 = pd.DataFrame(user)
d1

       0   1       2
0  sakil  25   Munic
1    ABC  24  Berlin
2    JKL  25   Munic

In [80]:
d1 =pd.DataFrame(user, columns=['name','age','city'], index=['i','ii','iii'])
d1

      name  age    city
i    sakil   25   Munic
ii     ABC   24  Berlin
iii    JKL   25   Munic

In [81]:
d1.city

i       Munic
ii     Berlin
iii     Munic
Name: city, dtype: object

In [82]:
d1.name

i      sakil
ii       ABC
iii      JKL
Name: name, dtype: object

In [84]:
d1[['city']] #watching in rural format

       city
i     Munic
ii   Berlin
iii   Munic

In [85]:
d1.head(2)

     name  age    city
i   sakil   25   Munic
ii    ABC   24  Berlin

In [86]:
d1.drop(['city'],axis =1)
#axis = 0 -->row wise 
#axis = 1 -->column wise
#drop --> delete

      name  age
i    sakil   25
ii     ABC   24
iii    JKL   25